@model List<Pokemon>

<h1>Pokemones</h1>

<p>
	<a asp-action="Create">AGREGAR</a>
</p>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Tipo</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var poke in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(m=> poke.Descripcion)
				</td>
				<td>
					@Html.DisplayFor(m=> poke.IdTipoNavigation.Descripcion)
				</td>
			</tr>
		}
	</tbody>
</table>